/* general html */
@font-face {
    font-family: 'OpenSansLight';
    src: url('../../assets/font/OpenSans-Light-webfont.eot');
    src: url('../../assets/font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/font/OpenSans-Light-webfont.woff') format('woff'),
         url('../../assets/font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../assets/font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ZUL STYLE */
.z-a {
    color: #00ace3;
    text-decoration: none;
    font-weight: 700;
}

.z-label, .z-radio-cnt, .z-checkbox-cnt, .z-loading,
.z-tabbox-accordion, .z-tabpanel-accordion,
.z-button-os, .z-tab-accordion-text,
.z-datebox-rounded-inp, .z-treecell, .z-treefooter-cnt, .z-treecell-cnt, .z-treecol-cnt {
    font-family: OpenSansLight, Verdana, Arial, Sans-serif !important;
}

.z-label, .z-radio-cnt, .z-checkbox-cnt, .z-loading {
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-top: 7px;
    vertical-align: middle;
}

.z-tabpanels-accordion {
    border: 0px !important;
}

.z-tabbox-accordion .z-tabpanel-accordion {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-left: 10px;	
}

.z-tab-accordion-header {
    height: 34px;
    background-color: #f9f9f9;
    border: 0;
}

.z-tab-accordion-hm, .z-tab-accordion-text {
    color: #585858; /* text color */
    /* text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    font-weight: normal !important;
    height: 38px;
    line-height: 36px;
    padding: 0px 16px 0px 7px;
    background: none rgb(249, 249, 249) !important;
    color: rgb(88, 88, 88) !important;
    text-shadow: none !important; 
    font-size: 13px;  	
}

.z-grid-header .z-columns, .z-grid-header .z-auxhead,
.z-auxheader-cnt {
	background-color: none !important;
	background-image: none !important;
}

.z-column-cnt, div.z-row-cnt {
    color: #636363;
	font-family: OpenSansLight, Verdana, Arial, Sans-serif !important;
    font-size: 12px;
    font-weight: bold;
}

.z-grid, .z-auxheader-cnt, .z-auxhead, .z-auxheader, .z-grid-header, 
.z-column-cnt, .z-columns, .z-column {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

.z-column-cnt .z-label {
	font-weight: 700;
}

.z-datebox-rounded-inp { background-image: none !important; font-size: 11px !important; }

.z-combobox-rounded .z-combobox-rounded-btn, .z-bandbox-rounded .z-bandbox-rounded-btn, .z-datebox-rounded .z-datebox-rounded-btn, .z-timebox-rounded .z-timebox-rounded-btn, .z-spinner-rounded .z-spinner-rounded-btn, .z-doublespinner-rounded .z-doublespinner-rounded-btn {
    cursor: pointer;
    display: inline-block;
    height: 22px;
    overflow: hidden;
    vertical-align: top;
}

.z-combobox-rounded .z-combobox-rounded-btn-over, .z-bandbox-rounded .z-bandbox-rounded-btn-over, .z-datebox-rounded .z-datebox-rounded-btn-over, .z-timebox-rounded .z-timebox-rounded-btn-over, .z-spinner-rounded .z-spinner-rounded-btn-over, .z-doublespinner-rounded .z-doublespinner-rounded-btn-over
{
	height: 23px;
}
.z-datebox-rounded .z-datebox-rounded-btn {
	position: relative !important;
	left: -24px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px

}

.z-grid-header tr.z-columns, div.z-grid-header tr.z-auxhead {
    background-color: white;
    background-image: none !important;
    background-repeat: repeat-x;
}
/* cell hovering */
tr.z-row-over>td.z-row-inner, tr.z-row-over>.z-cell {
	/* background-image: url(/zk-template/zkau/web/10dbb8f4/zul/img/grid/column-over.png); */
	background-image: none !important;
	background-color: #e5e3e9 !important;
}

tr.z-row td.z-row-inner, tr.z-row .z-cell {
	border: 1px solid white;
	border-right: 1px solid transparent;
	line-height: 20px;
}

tr.z-grid-odd td.z-row-inner, tr.z-grid-odd .z-cell {
	border-left: 1px solid transparent;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ddd;
	line-height: 1.5;
}

tr.z-row td.z-row-inner, tr.z-row .z-cell {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid transparent;
	line-height: 20px;
}

.z-row-cnt input[type="text"] {
	margin-bottom: 0 !important;
}


.z-tree, .z-tree-body {
    background: transparent !important;
    border: none !important;
    overflow: hidden;
} 

.z-treecell, .z-treerow {
	border: none !important;
	font-size: 13px !important;
}

.z-treerow-over {
	background-image: none !important;
	background-color: #e5e3e9 !important;
}

.z-treerow-seld, .z-treerow-over-seld {
	background-image: none !important;
	background-color: #e5e3e9 !important;	
}


.z-treefooter-cnt, .z-treecell-cnt, .z-treecol-cnt {
    border: 0 none;
    color: #000 !important;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 5px !important;
}

.z-treerow-focus {
	/* background-color: #00ace3 !important; */
	border-radius: 2px 2px 2px 2px !important;
}

.z-listbox {
	border-radius: 4px;
}

.z-listitem-over, .z-listitem-seld {
	background-image: none !important;
	background-color: #e5e3e9 !important;
}

tr.z-listitem-over > td.z-listcell {
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
}













